# Booleans

In [2]:
print(30<1000000000000)

True

# Operators

In [3]:
age = 16

age += 4
print(age)

age!= 12

20

True

In [4]:
12 < age < 24

True

# Collections

## Lists

In [5]:
courses = ["Data Science", "Spanish", "Calc", "Gender Studies", "Global lit", "Global History", "Chem"]

### Accessing Items

In [6]:
print(courses[1])

Spanish

### Changing Items

In [15]:
courses[2] = "nice easy math"

In [8]:
print(courses)

['Data Science', 'Spanish', 'nice easy math', 'Gender Studies', 'Global lit', 'Global History', 'Chem']

### Accessing a Range of Items

In [11]:
print(courses[0:2])

['Data Science', 'Spanish']

### Adding to a List

In [12]:
courses.append("another nice friendly low stress course")

In [14]:
print(courses)

['Data Science', 'Spanish', 'nice easy math', 'Gender Studies', 'Global lit', 'Global History', 'Chem', 'another nice friendly low stress course']

### Inserting into a List

In [16]:
courses.insert(2, "Catch up on Sleep Class")

In [18]:
print(courses)

['Data Science', 'Spanish', 'Catch up on Sleep Class', 'nice easy math', 'Gender Studies', 'Global lit', 'Global History', 'Chem', 'another nice friendly low stress course']

In [20]:
courses.pop(0)

'Data Science'

In [21]:
print(courses)

['Spanish', 'Catch up on Sleep Class', 'nice easy math', 'Gender Studies', 'Global lit', 'Global History', 'Chem', 'another nice friendly low stress course']

### List Looping

In [22]:
for x in courses:
    print(x)

Spanish
Catch up on Sleep Class
nice easy math
Gender Studies
Global lit
Global History
Chem
another nice friendly low stress course

### Sorting a List

In [23]:
courses.sort()
print(courses)

['Catch up on Sleep Class', 'Chem', 'Gender Studies', 'Global History', 'Global lit', 'Spanish', 'another nice friendly low stress course', 'nice easy math']

### Copying a List

In [31]:
subjects = courses.copy()

del subjects [1:6]

for f in subjects:
    print(f)
    
print("")

for g in courses:
    print(g)

Catch up on Sleep Class
another nice friendly low stress course
nice easy math

Catch up on Sleep Class
Chem
Gender Studies
Global History
Global lit
Spanish
another nice friendly low stress course
nice easy math

### Other List Methods

In [34]:
courses.reverse()

print(courses)

['Catch up on Sleep Class', 'Chem', 'Gender Studies', 'Global History', 'Global lit', 'Spanish', 'another nice friendly low stress course', 'nice easy math']

# Tuples

In [35]:
days_of_week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

In [36]:
print(days_of_week)

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

# Sets

In [40]:
types_of_fruit = {"apple", "banana", "cherry"}

types_of_fruit.add("strawberry")

for d in types_of_fruit:
    print(d)
    
print("")    

print("banana" in types_of_fruit)

cherry
banana
strawberry
apple

True